<a href="https://colab.research.google.com/github/leo-soumyajit/Amazon-UI/blob/main/no1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_list = []
print(empty_list)

[]

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]
print(fruits[0])
print(fruits[-1])
print(fruits[-2])
print(fruits[-5])
try:
  print(fruits[10])
except IndexError as e:
  print(f"Error : {e}")

print(fruits)

Apple
elderberry
Mango
Apple
Error : list index out of range
['Apple', 'Banana', 'Cherry', 'Mango', 'elderberry']

In [30]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]

if "Mango" in fruits:
  print("Found")
else:
  print("Not Found")

#add with index
fruits.insert(0,"Guava")

#add multiple
fruits.extend(["Orange","Kiwi"])

#removed by name
fruits.remove("Guava")

#remove via index
fruits.pop(1)

print(fruits)

Found
['Apple', 'Cherry', 'Mango', 'elderberry', 'Orange', 'Kiwi']

In [ ]:
listmixing = [1,2,3,"Messi","Neymar","Pedri"]

# print(listmixing)

1
Pedri

In [ ]:
# list1=[0,1,2,3,4,5,6,7,8,9]
# list2 =[]
# for i in list1:
#   list2.append(i*i);
# print(list2)

squares = [x*x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list4 =[]
for i in list3:
  if(i%2==0):
    list4.append(i)
print(list4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [1,2,3,4,5]
numbers[1:4] = [20,30,40]
print(numbers)

print(numbers)

[1, 20, 30, 40, 5]
[1, 20, 30, 40, 5]

In [37]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
idx = fruits.index("Banana")
print(idx)

#start searching from idx 2
print(fruits.index("Banana",2))

try:
  print(fruits.index("Papaya",2))
except ValueError as e:
  print(f"Error : {e}")

#to count occourences
print(fruits.count("Banana"))

1
5
Error : 'Papaya' is not in list
2

In [41]:
numbers = [1,2,3,4,5,1,2,3,123]
numbers.sort()
print(numbers)

#len wise sorting
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.sort(key=len)
print(fruits)

[1, 1, 2, 2, 3, 3, 4, 5, 123]
['Apple', 'Mango', 'Banana', 'Cherry', 'Banana', 'elderberry']
['Apple', 'Banana', 'Banana', 'Cherry', 'elderberry', 'Mango']

fruits.sort(key=str.lower): This is the core of the sorting. The sort() method sorts the list elements in ascending order by default. However, the key=str.lower argument modifies this behavior. It tells Python to convert each string to lowercase temporarily for comparison purposes only before sorting. The actual items in the list remain with their original casing. This ensures that 'Apple' and 'apple' are treated the same for sorting, leading to a case-insensitive sort.

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.sort(key=str.lower)
print(fruits)

In [43]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.extend("Soumyajit")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango', 'elderberry', 'Banana', 'S', 'o', 'u', 'm', 'y', 'a', 'j', 'i', 't']

Shallow Copy

In [44]:
original = [1,2,3]
copied = original.copy()
copied.append(4)

print(original)
print(copied)

[1, 2, 3]
[1, 2, 3, 4]

In [48]:
numbers = [1,2,3,4,5,1,2,3,123]
#slicing
print(numbers[2:6])
print(numbers[:5])
print(numbers[5:])
print(numbers[:])

#slicing with half
half1 = numbers[:len(numbers)//2]
half2 = numbers[len(numbers)//2:]
print(half1)
print(half2)

[3, 4, 5, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 123]
[1, 2, 3, 4, 5, 1, 2, 3, 123]
[1, 2, 3, 4]
[5, 1, 2, 3, 123]

In [52]:
numbers = [0,1,2,3,4,5,6,7,8,9]
for i in numbers[::2]:
  print(i)

print()

for i in numbers[::3]:
  print(i)

print(numbers[-3:])
print(numbers[:-2])
print(numbers[-6:-2])
print(numbers[5:2:-1])

0
2
4
6
8

0
3
6
9
[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[5, 4, 3]

In [60]:
result = []
numbers = [1,2,2,3,4,3,5]
for i in numbers:
  if i not in result:
    result.append(i)
print(result)

[1, 2, 3, 4, 5]